@using Atheer.Utilities.Config.Models
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.Extensions.Options
@using Atheer.Controllers
@using Atheer.Services.UsersService
@inject IOptionsSnapshot<Site> Site

@{
    string fullTitle = $"{ViewData["Title"]} - {Site.Value.Title}";

    bool authenticated = User.Identity?.IsAuthenticated == true;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:title" content="@fullTitle">
    <meta property="og:site_name" content="@Site.Value.Title">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@Context.Request.GetDisplayUrl()">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@fullTitle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>

    <meta name="description" content="@Site.Value.Description"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Articles" asp-action="Index">
                    @Site.Value.Title
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-0 ml-auto">
                        @if (Site.Value.ShowLoginButton && !authenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Authentication" asp-action="LoginView">Login</a>
                            </li>
                        }
                        @if (authenticated)
                        {
                            @if (User.IsInRole(UserRoles.EditorRole))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="ArticleEdit" asp-action="Index">Write</a>
                                </li>
                            }
                            
                            @if (User.IsInRole(UserRoles.AdminRole))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">
                                        Admin
                                    </a>
                                </li>
                            }
                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="UserView" 
                                   asp-route-userId="@User.FindFirst(AuthenticationController.CookieUserId)?.Value">
                                    @User.Identity.Name
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Authentication" asp-action="LogoutView">Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
