@model Atheer.Controllers.Series.ViewModels.ManySeriesViewModel

@{
    ViewData["Title"] = "Series";

    var items = new SelectList(new List<string>()
    {
        "Unfinished",
        "Finished",
        "All"
    });
}

@section Button1
{
    <a class="nav-link text-dark" asp-controller="Series" asp-action="AddSeriesView">Add Series</a>
}

<h3 class="text-dark">Article Series</h3>
<form method="get" asp-controller="Article" asp-action="Index" id="showSeriesTypeForm">
    <select class="form-select-sm" id="showSeriesTypeSelect" name="SeriesType" asp-items="items">
        <option>@ViewData["SeriesType"]</option>
    </select>
</form>

<ul class="list-group">
    @foreach (var series in Model.Series)
    {
        <li class="list-group-item">
            <span class="text-danger">Id: @series.Id.ToString()</span>
            <h4 class="text-dark">Title: @series.Title</h4>
            <p class="text-body">@series.Description</p>
            @if (series.Finished)
            {
                <span class="text-danger">Finished series</span>
            }
            else
            {
                <form method="post" asp-controller="Series" asp-action="FinishSeries" asp-route-id="@series.Id.ToString()">
                    <button type="submit" class="btn btn-outline-danger">Finish</button>
                </form>
            }
        </li>
    }
</ul>