@using Atheer.Controllers
@using Atheer.Services.UsersService
@model Atheer.Controllers.ViewModels.UserPageViewModel

@{
    string userId = User.FindFirst(AuthenticationController.CookieUserId)?.Value;
    string fullName = Model.User.FullName();
    ViewData["Title"] = fullName;
    bool sameUserViewingIsSameAsThis = userId == Model.User.Id;

    bool isAdminViewing = User.IsInRole(UserRoles.AdminRole);
    bool isUserInEditorRole = Model.User.Roles.Contains(UserRoles.EditorRole);

    string imageUrl = "favicon.ico";
}

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      @if (sameUserViewingIsSameAsThis)
      {
        <form enctype="multipart/form-data" asp-controller="User" asp-action="ChangeImage" method="post" id="fileForm">
          <input type="hidden" name="UserId" value="@Model.User.Id"/>
          <img src="@imageUrl" alt="@fullName" ondblclick="popupFileDialog()">
          <input type="file" hidden name="File" id="fileDialog" accept="image/png, image/jpeg" onchange="fileChanged()" />
        </form>
      }
      else
      {
        <img src="@imageUrl" alt="@fullName">
      }
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">@fullName</h5>
        @if (sameUserViewingIsSameAsThis || isAdminViewing)
        {
          <span class="text-info">Username: @Model.User.Id</span>
        }
        @if (sameUserViewingIsSameAsThis)
        {
          <a asp-controller="User" asp-action="UserSettingsView" asp-route-userId="@userId" class="btn-link">Settings</a>
        }
        @if (isAdminViewing && !sameUserViewingIsSameAsThis)
        {
          <form asp-controller="User" asp-action="AdminChangeRoleOfUser" method="post">
            <input type="hidden" name="UserId" value="@Model.User.Id" />
            @if (isUserInEditorRole)
            {
              <button type="submit" class="btn btn-danger" name="NewRole" value="@UserRoles.BasicRole">Make Basic User</button>
            }
            else
            {
              <button type="submit" class="btn btn-danger" name="NewRole" value="@UserRoles.EditorRole">Make Editor User</button>
            }
          </form>
        }
        <p class="card-text">@Model.User.Bio</p>
      </div>
    </div>
  </div>
</div>

@await Component.InvokeAsync("Articles", Model.Articles).ConfigureAwait(false)

@if (sameUserViewingIsSameAsThis)
{
  @section Scripts
  {
    <script>
    const fileDialog = document.getElementById("fileDialog");
    const fileForm = document.getElementById("fileForm");
    
    const popupFileDialog = () => {
        fileDialog.click();
    };
    
    const fileChanged = () => {
        if (fileDialog.files.length > 0){
            fileForm.submit();
        }
      };
    </script>
  }
}
