@using Atheer.Extensions
@model Atheer.Controllers.ViewModels.UserSettingsViewModel

@{
    ViewData["Title"] = "Settings";
}

<span class="text-light">Username: @Model.Id</span>
<span class="text-light">Created since: @DateTimeExtensions.GetLocalDateOnly(@Model.DateCreated)</span>

<form method="post" asp-controller="User" asp-action="UserSettingsPost">
    <input type="hidden" name="userId" value="@Model.Id" />
    <input type="hidden" name="DateCreated" value="@Model.DateCreated" />

    @* TODO prettify and make this accordion work *@
    <div class="accordion" id="settingsAccordion">
        <div class="accordion-item" class="basicSettings">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#basicSettings" aria-expanded="true" aria-controls="basicSettingsForm">
                    Basic settings
                </button>
            </h2>
            <div id="basicSettingsForm" class="accordion-collapse collapse show" aria-labelledby="basicSettings" data-bs-parent="#settingsAccordion">
                <div class="form-group row">
                    <label for="FirstName" class="col-sm-2 col-form-label">First Name: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="FirstName" id="FirstName" maxlength="32" minlength="1">
                    </div>
                </div>
                <span asp-validation-for="FirstName" class="text-danger"></span>
                <div class="form-group row">
                    <label for="LastName" class="col-sm-2 col-form-label">Last Name: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="LastName" id="LastName" maxlength="32" minlength="1">
                    </div>
                </div>
                <span asp-validation-for="LastName" class="text-danger"></span>
                <div class="form-group row">
                    <label for="Bio" class="col-sm-2 col-form-label">Bio: </label>
                    <div class="col-sm-10">
                        <textarea class="form-control" asp-for="Bio" id="Bio" maxlength="256"></textarea>
                    </div>
                </div>
                <span asp-validation-for="Bio" class="text-danger"></span>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item" id="securitySettings">
            <h2 class="accordion-header">
                Security settings
            </h2>
            <div class="accordion-collapse collapse show" aria-labelledby="securitySettings" data-bs-parent="#securitySettings">
                <div class="form-group row">
                    <label for="changePassword" class="col-sm-2 col-from-label">Password: </label>
                    <div class="col-sm-10">
                        <a type="button" asp-controller="User" asp-action="ChangePasswordView" asp-route-userId="@Model.Id" 
                                class="btn-danger btn">
                            Change password
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>