@using Atheer.ViewComponents
@using Atheer.Controllers
@model Atheer.Controllers.ViewModels.ArticlesViewModel

@{
    ViewData["Title"] = "Articles";
    
    string userId = User.FindFirst(AuthenticationController.CookieUserId)?.Value;
}

@if (TempData.ContainsKey("Error"))
{
    <h5 class="text-danger">@TempData["Error"]</h5>
}

<h6 class="text-dark">
@if (Model.SpecificYear)
{
    @Model.Year @Html.Raw(" Posts") 
}
else
{
    @Html.Raw("Latest Posts")
}
</h6>

@foreach (var post in Model.Posts)
{
    string dateStr = post.CreationDate.Split()[0];
    
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h5>
                    <a class="text-dark" asp-controller="Article" asp-action="Index"
                       asp-route-CreatedYear="@post.CreatedYear" asp-route-TitleShrinked="@post.TitleShrinked">
                        @post.Title
                    </a>
                </h5>

                @if (post.AuthorId == userId)
                {
                    <span class="text-info">Mine</span>
                }

                @if (post.Draft)
                {
                    <span class="text-info">Draft</span>
                }
                @if (post.Unlisted)
                {
                    <span class="text-info">Unlisted</span>
                }

                @await Component.InvokeAsync("ArticleEditLink",
                    new ArticleEditLinkModel(post, @User.FindFirst(AuthenticationController.CookieUserId)?.Value))
            </div>
            <h6 class="card-subtitle">@dateStr</h6>
            <p class="card-text">@post.Description</p>
        </div>
    </div>
}