@using Atheer.ViewComponents
@model List<BlogPost>

@{
    ViewData["Title"] = "Articles";
}

@foreach (var post in Model)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <a class="text-dark" asp-controller="Article" asp-action="Index"
                   asp-route-CreatedYear="@post.CreatedYear" asp-route-TitleShrinked="@post.TitleShrinked">
                    @post.Title
                </a>
                @await Component.InvokeAsync("ArticleEditLink", new ArticleEditLinkModel(post))
            </h5>
            <h6 class="card-subtitle">@DateTime.Parse(post.CreationDate).ToString("d")</h6>
            <p class="card-text">@post.Description</p>
        </div>
    </div>
}