@using Atheer.ViewComponents
@using Atheer.Controllers
@model Atheer.Services.ArticlesService.ArticlesResponse

@{
    ViewData["Title"] = "Articles";
    
    string userId = User.FindFirst(AuthenticationController.CookieUserId)?.Value;
}

@if (TempData.ContainsKey("Error"))
{
    <h5 class="text-danger">@TempData["Error"]</h5>
}

<h6 class="text-dark">
    @if (!string.IsNullOrEmpty(Model.TagTitle))
    {
        @Html.Raw("Tag: ")
        @Model.TagTitle
        <br/>
    }
    @if (Model.SpecificYear)
    {
        @Model.Year.ToString()
        @Html.Raw(" Articles")
    }
    else
    {
        @Html.Raw("Latest Articles")
    }
</h6>

@foreach (var post in Model.Articles)
{
    string dateStr = post.CreationDate.Split('T')[0];
    
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h5>
                    <a class="text-dark" asp-controller="Article" asp-action="Index"
                       asp-route-CreatedYear="@post.CreatedYear.ToString()" asp-route-TitleShrinked="@post.TitleShrinked">
                        @post.Title
                    </a>
                </h5>

                @if (post.AuthorId == userId)
                {
                    <span class="text-info">Mine</span>
                }

                @if (post.Draft)
                {
                    <span class="text-info">Draft</span>
                }
                @if (post.Unlisted)
                {
                    <span class="text-info">Unlisted</span>
                }

                @await Component.InvokeAsync("ArticleEditLink",
                    new ArticleEditLinkModel(post, @User.FindFirst(AuthenticationController.CookieUserId)?.Value))
            </div>
            <h6 class="card-subtitle">@dateStr</h6>
            <p class="card-text">@post.Description</p>
        </div>
    </div>
}