@using Atheer.ViewComponents
@using Atheer.Controllers
@model Atheer.Services.ArticlesService.ArticlesResponse

@{
    string userId = User.FindFirst(AuthenticationController.CookieUserId)?.Value;
}

<h6 class="text-dark">
    @if (!string.IsNullOrEmpty(Model.TagTitle))
    {
        @Html.Raw("Tag: ")
        @Model.TagTitle
        <br/>
    }
    @if (Model.SpecificYear)
    {
        @Model.Year.ToString()
        @Html.Raw(" Articles")
    }
    else
    {
        @Html.Raw("Latest Articles")
    }
</h6>

@if (!Model.Articles.Any())
{
    <span class="text-info">No articles exist...</span>
}

@foreach (var article in Model.Articles)
{
    string dateStr = article.CreationDate.Split('T')[0];
    
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h5>
                    <a class="text-dark" asp-controller="Article" asp-action="Index"
                       asp-route-CreatedYear="@article.CreatedYear.ToString()" asp-route-TitleShrinked="@article.TitleShrinked">
                        @article.Title
                    </a>
                </h5>

                @if (article.AuthorId == userId)
                {
                    <span class="text-info">Mine</span>
                }

                @if (article.Draft)
                {
                    <span class="text-info">Draft</span>
                }
                @if (article.Unlisted)
                {
                    <span class="text-info">Unlisted</span>
                }

                @await Component.InvokeAsync("ArticleEditLink",
                    new ArticleEditLinkModel(article, @User.FindFirst(AuthenticationController.CookieUserId)?.Value))
            </div>
            <h6 class="card-subtitle">@dateStr</h6>
            <p class="card-text">@article.Description</p>
        </div>
    </div>
}