@using Atheer.ViewComponents
@using Atheer.Controllers
@using Atheer.Controllers.Authentication
@using Atheer.Extensions
@model Atheer.Services.ArticlesService.ArticlesResponse

@{
    string userId = User.FindFirst(AuthenticationController.CookieUserId)?.Value;

    int prevPage = Model.CurrentPage - 1;
    int nextPage = Model.CurrentPage + 1;
}

@if (!Model.Articles.Any())
{
    <span class="text-info">No articles exist...</span>
}

@foreach (var article in Model.Articles)
{
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h5>
                    <a class="text-dark" asp-controller="Article" asp-action="Index"
                       asp-route-CreatedYear="@article.CreatedYear.ToString()" asp-route-TitleShrinked="@article.TitleShrinked">
                        @article.Title
                    </a>
                    
                    @if (userId == article.AuthorId)
                    {
                        <a asp-controller="ArticleEdit" asp-action="UpdateArticleView" asp-route-CreatedYear="@article.CreatedYear.ToString()"
                           asp-route-TitleShrinked="@article.TitleShrinked">Edit</a>
                    }
                </h5>

                @if (article.AuthorId == userId)
                {
                    <span class="text-info">Mine</span>
                }

                @if (article.Draft)
                {
                    <span class="text-info">Draft</span>
                }
                @if (article.Unlisted)
                {
                    <span class="text-info">Unlisted</span>
                }
                
            </div>
            <h6 class="card-subtitle">@await Component.InvokeAsync("LocalDate", article.CreatedAt.GetString())</h6>
            <p class="card-text">@article.Description</p>
        </div>
    </div>
}

@* Pagination *@
@if (Model.AnyNext || Model.AnyPrevious)
{
    <ul class="pagination justify-content-center mt-4">
        @if (Model.AnyPrevious)
        {
            <li class="page-item"><a class="page-link" asp-controller="Articles" asp-action="Index" 
                                     asp-route-userId="@Model.UserId" asp-route-page="@prevPage">
                Previous
            </a></li>
        }
        else
        {
            <li class="page-item disabled"><a class="page-link" tabindex="-1" asp-route-userId="@Model.UserId">Previous</a></li>
        }
        @if (Model.AnyNext)
        {
            <li class="page-item"><a class="page-link" asp-controller="Articles" asp-action="Index" 
                                     asp-route-userId="@Model.UserId" asp-route-page="@nextPage">
                Next
            </a></li>
        }
        else
        {
            <li class="page-item disabled"><a class="page-link" tabindex="-1" asp-route-userId="@Model.UserId">Next</a></li>
        }
    </ul>
}