@using Markdig
@inject MarkdownPipeline MarkdownPipeline
@model BlogPost
@{
    string content = Markdown.ToHtml(Model.Content, MarkdownPipeline);
}

<div class="container">
    <h2 class="text-dark">@Model.Title</h2>
    <h6 class="card-subtitle">@DateTime.Parse(Model.CreationDate).ToString("d")</h6>
    <p class="card-text">@Model.Description</p>
    <br/>
    @Html.Raw(content)
    <br/>
    <br/>
    <form method="post">
        <input asp-for="CreatedYear" type="hidden" />
        <input asp-for="TitleShrinked" type="hidden" />
        
        @if (Model.Likeable)
        {
            <label for="like">@Model.Likes Likes | </label>
            <button name="submit" type="submit" class="btn btn-outline-secondary" id="like" value="Like">Like</button>
        }
        @* TODO implement to copy link
        @* @if (Model.Shareable) *@
        @* { *@
        @*     <button name="submit" type="submit" class="btn btn-outline-secondary" id="share" value="Share">Share</button> *@
        @* } *@
    </form>
</div>