@using Markdig
@using Atheer.ViewComponents
@using Atheer.Controllers
@inject MarkdownPipeline MarkdownPipeline
@model Atheer.Controllers.ViewModels.ArticleViewModel
@{
    var article = Model.Article;
    ViewData["Title"] = article.Title;
    string content = article.Content is null ? "" : Markdown.ToHtml(article.Content, MarkdownPipeline);

    string tags = Tag.TagsAsString(Model.Tags);
    
    string dateStr = article.CreationDate.Split('T')[0];

    string userId = User.FindFirst(AuthenticationController.CookieUserId)?.Value;
}

<div class="container">
    <div class="card-header">
        <h6 class="card-subtitle">@tags</h6>
        
        <h2 class="text-dark">@article.Title</h2>

        @if (article.AuthorId == userId)
        {
            <span class="text-info">Mine</span>
        }

        @if (article.Draft)
        {
            <span class="text-info">Draft</span>
        }
        @if (article.Unlisted)
        {
            <span class="text-info">Unlisted</span>
        }


        @await Component.InvokeAsync("ArticleEdit",
            new ArticleEditLinkModel(article, @User.FindFirst(AuthenticationController.CookieUserId)?.Value))
        <h6 class="card-subtitle text-info">@dateStr</h6>
        <p class="card-text">@article.Description</p>
    </div>
    <div class="card-body">
        <div class="h-di"></div>
        @Html.Raw(content)
    </div>
    <div class="card-footer">
        @if (article.Likeable)
        {
            <label id="likes" for="like">@article.Likes.ToString() Likes | </label>
            <button type="button" class="btn btn-outline-secondary" id="like" value="Like"
                    onclick="like(@article.CreatedYear.ToString(), '@article.TitleShrinked')">Like</button>
        }
        @if (article.Shareable)
        {
            <button type="button" class="btn btn-outline-secondary" id="share" value="Share"
                    onclick="share(@article.CreatedYear.ToString(), '@article.TitleShrinked')">Share</button>
        }
        <span class="text-info" id="shareInfo"></span>
    </div>
</div>