@page
@using Markdig
@inject MarkdownPipeline MarkdownPipeline
@model Atheer.Views.Article.Index
@{
    var post = ViewBag.Post as BlogPost;
    string content = Markdown.ToHtml(post.Content, MarkdownPipeline);
}

<div class="container">
    <h2 class="text-dark">@post.Title</h2>
    <h6 class="card-subtitle">@DateTime.Parse(post.CreationDate).ToString("d")</h6>
    <p class="card-text">@post.Description</p>
    <br/>
    @Html.Raw(content)
    <br/>
    <br/>
    <form method="post">
        @if (post.Likeable)
        {
            <label for="like">@post.Likes Likes | </label>
            <button type="submit" class="btn btn-outline-secondary" id="like">Like</button>
        }
        @if (post.Shareable)
        {
            <button type="submit" class="btn btn-outline-secondary" id="share">Share</button>
        }
        @if (post.Contactable)
        {
            <button type="submit" class="btn btn-outline-secondary" id="contact">Contact regarding this</button>
        }
    </form>
</div>