@model Atheer.Controllers.ViewModels.ArticleEditViewModel

@{
    bool IsNew = string.IsNullOrEmpty(Model.TitleShrinked);

    ViewData["Title"] = IsNew ? "New" : "Edit"; 
}

<form method="post">
    <span class="text-info">@TempData["Info"]</span>

    @if (!IsNew)
    {
        // For POST on edit 
        <input type="hidden" name="CreatedYear" id="CreatedYear" value="@Model.CreatedYear"/>
        <input type="hidden" name="TitleShrinked" id="TitleShrinked" value="@Model.TitleShrinked"/>
    }
    <div class="form-group">
        <label for="Title">Title: </label>
        <input type="text" name="Title" id="Title" value="@Model.Title" class="form-control"/>
        <span asp-validation-for="Title" class="text-danger"></span>

        @*Requires a custom validator
        TODO validate list*@
        <label for="TopicsAsString">Topics (CSV): </label>
        <input type="text" name="TopicsAsString" id="TopicsAsString" value="@Model.TopicsAsString" class="form-control" />
        <span asp-validation-for="TopicsAsString" class="text-danger"></span>

        <label for="Description">Description: </label>
        <input type="text" name="Description" id="Description" value="@Model.Description" class="form-control"/>
        <span asp-validation-for="Description" class="text-danger"></span>

        <label for="Content">Content (Markdown):</label>
        <textarea type="text" name="Content" id="Content" class="form-control">@Model.Content</textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <br/>
    <div class="form-group">
        <div class="form-check">
            <input asp-for="Draft" type="checkbox" class="form-check-input"/>
            <label class="form-check-label" asp-for="Draft">Draft</label>
        </div>
        <div class="form-check">
            <input asp-for="Unlisted" type="checkbox" class="form-check-input"/>
            <label class="form-check-label" asp-for="Unlisted">Unlisted</label>
        </div>
        <div class="form-check">
            <input asp-for="Likeable" type="checkbox" class="form-check-input"/>
            <label class="form-check-label" asp-for="Likeable">Likeable</label>
        </div>
        <div class="form-check">
            <input asp-for="Shareable" type="checkbox" class="form-check-input"/>
            <label class="form-check-label" asp-for="Shareable">Shareable</label>
        </div>
    </div>

    <button name="button" value="Checkout" class="btn btn-outline-primary">Checkout</button>
    @if (!IsNew)
    {
        <button name="button" value="Page" class="btn btn-info">Visit page</button>
        <button type="button" class="btn btn-danger" data-target="#confirmDeleteModal"
                data-toggle="modal">Delete</button>

    }
</form>

<div class="modal" id="confirmDeleteModal" tabindex="1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm deletion of this post</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-controller="ArticleEdit" asp-action="Post" method="post">
                    <input type="hidden" name="CreatedYear" id="CreatedYear" value="@Model.CreatedYear"/>
                    <input type="hidden" name="TitleShrinked" id="TitleShrinked" value="@Model.TitleShrinked"/>
                    
                    <button type="submit" name="button" value="Delete" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

</script>